<div class="tab">
  <ul itemscope itemtype="http://schema.org/Blog">
    <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 class="preview__header" itemprop="name">Juni</h2>
      <p class="preview__excerpt" itemprop="description">
      <ul>
        <li>Lorem ipsum...</li>
        <li>Lorem ipsum...</li>
        <li>Lorem ipsum...</li>
      </ul>
      </p>
    </li>
    <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 class="preview__header" itemprop="name">Juli</h2>
      <p class="preview__excerpt" itemprop="description">
      <ul>
        <li>Lorem ipsum...</li>
        <li>Lorem ipsum...</li>
        <li>Lorem ipsum...</li>
      </ul>
      </p>
    </li>
  </ul>
</div>
