<div class="tab">
    <ul itemscope itemtype="http://schema.org/Blog">
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">6.12.2018</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/syrien">Syrien - Die Wiege der Menschheit</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Unterschleissheim<br/>Landshuterstrasse 20-22</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">10.1.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Im%20Reich%20der%20Maharadschas">Im Reich der Maharadschas</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Pfaffenhofen</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">25.3.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Indien%203">Die lächelnden Elefanten von Khajuraho</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Eichenau</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">28.3.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Indien%203">Die lächelnden Elefanten von Khajuraho</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Gmund</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">2.4.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/polen">Polen</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Haar</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">4.4.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Indien%203">Die lächelnden Elefanten von Khajuraho</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Ismaning</li>
            </ul>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="preview__header" itemprop="name">7.5.2019</h3>
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Indien%203">Die lächelnden Elefanten von Khajuraho</a></h2>
            <ul class="preview__excerpt" itemprop="description">
                <li>VHS Bad Tölz</li>
            </ul>
        </li>
    </ul>
</div>