<div class="tab">
    <ul itemscope itemtype="http://schema.org/Blog">
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/namibia2">Namibia Teil 2</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Germering, Stadthalle, Landsberger Str. 39, BlackBox, 18.10.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Metropolen">Metropolen Asiens: Bangkok, Hongkong, Shanghai, Peking</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Haar, Münchnerstrasse 3, 23.10.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Im%20Reich%20der%20Maharadschas">Im Reich der Maharadschas</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Gilching, Landsbergerstrasse 17a, 24.10.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/namibia2">Namibia Teil 2</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Gilching, Landsbergerstrasse 17a, 16.11.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Im%20Reich%20der%20Maharadschas">Im Reich der Maharadschas</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Bad Tölz, Kleiner Kursaal, 20.11.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/syrien">Syrien - Die Wiege der Menschheit</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Unterschleissheim;Landshuterstrasse 20-22, 6.12.2018</li>
            </ul>
            </p>
        </li>
        <li class="preview__link" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="preview__header" itemprop="name"><a href="/vortrag/Kambodscha">Good morning Kambodja</a></h2>
            <p class="preview__excerpt" itemprop="description">
            <ul>
                <li>VHS Eichenau; Kolpingweg2, 7.1.2019</li>
            </ul>
            </p>
        </li>
    </ul>
</div>