<div class="tab vortraege">
  <ul class="cards">
    {% capture cats %}
      {% for cat in site.categories %}
        {{ cat | first }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedCats = cats | split: ' ' | sort %}

    {% for post in site.pages %}
    {% if post.categories contains 'Vortrag' %}
      <li class="card">
        <a class="card__link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="card__img">
            {% if post.image-sm %}
              <figure class="absolute-bg" style="background-image: url('{{ post.image-sm }}');"></figure>
            {% else %}
              <figure class="absolute-bg" style="background-image: url('{{ post.image }}');"></figure>
            {% endif %}
          </div>
          <div class="card__container">
            <h2 class="card__header">{{ post.title }}</h2>
          </div>
        </a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
