p.gallery {
  white-space: nowrap;
}

.gallery img {
  display: inline;
  vertical-align: top;
  float: left;
}

.gallery img.left {
  margin-left: 0;
}

.gallery img.right {
  margin-right: 0;
}

.gallery img.img-2-col {
  width: 49%;
}

.gallery img.img-2-col.left {
  margin-right: 1%;
}

.gallery img.img-2-col.right {
  margin-left: 1%;
}

.gallery img.img-3-col {
  width: 32%;
}

.gallery img.img-3-col.left {
  margin-right: 1%;
}

.gallery img.img-3-col.inner {
  margin-left: 1%;
  margin-right: 1%;
}

.gallery img.img-3-col.right {
  margin-left: 1%;
}
